.related-products-box{

  .related-products-list{
    font-size: 1.2em;
    @media @tablet{
      display: flex;
      justify-content: space-between;
    }
    @media @desktop{
      display: flex;
      justify-content: space-between;
    }

  }
  li{
    @media @desktop{
    }
  }

  a{
    display: flex;
    align-items: center;
  }
  .title{
    flex-grow: 1;
    margin-bottom: 15px;
    display: block;
  }
  .related-product-text{

  }
  img{
    float: left;
    display: block;
    max-width: 90px;
    margin-right: 20px;
  }
}